<div class="imgcontainer">
    <img src="https://www.cssscript.com/demo/login-page-template/img/bg.svg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="Username"required>
<br>
<br>
<br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="Password" required>
        <br>
        <br>
    <button type="submit"value="Login"(click)="Login()">Login</button>
</div>
<!-- <button (click)="showToasterSuccess()">
    Success Toaster
</button>  -->
<!-- <button (click)="showToasterError()">
    Error Toaster
</button>
  
<button (click)="showToasterInfo()">
    Info Toaster
</button>
  
<button (click)="showToasterWarning()">
    Warning Toaster
</button>  -->